@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
   
    @include gradient;

    .navbar-nav > .nav-link {
        margin: 0 0.7rem;
        padding: 0 0.7rem;
        color: $white;
        text-transform: capitalize;
        font-weight: 600;
        
        &:hover{
            color: $white
        }
    }
}